.forms {
  display: flex;
  flex-direction: column;

  input {
    border: 1px solid var(--input-border);
    background: var(--input-background);
    padding: 17px 20px;
    margin-bottom: 20px;
  }

  input[type="submit"] {
    background: linear-gradient(
      90deg,
      var(--gradient-pink),
      var(--gradient-red)
    );
    color: var(--primary-text);
    text-transform: uppercase;
    font-weight: 800;
  }

  .helpText {
    text-align: center;
  }
}
