.header {
  text-align: center;
}

.headerText {
  margin-bottom: 20px;
}

.headerInstructionText {
  margin-bottom: 50px;
}

.blip {
  margin-bottom: 50px;
  width: 38px;
  height: 5px;
  border: 0;
  background-color: #403e45;
  opacity: 10%;
  border-radius: 5px;
}
